#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 370px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {

  transition: transform .2s; /* Animation */

}

.swiper-button-next{
  background-color: #D7F136;
color: black;
}
.swiper-button-prev{
background-color: #D7F136;
color: black;

}



@media (max-width: 600px) {
  .swiper-slide {
    margin: 140px;
  }
  .swiper-button-next{
    background-color: #c5bcbc;
   opacity: 0;
}
.swiper-button-prev{
  background-color: #c5bcbc;
 opacity: 0;



}
.container{
  width: 420px;
}


  
  }