.imgBunny img{
    width: 45%;
    height: 45%;
    transform: translateY(-59px);
}

.divForm{
    background-color: white;
    padding: 5%;
    width: 650px;
    height: 350px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.divInput span{
    margin: 10px;
}

.divForm h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 20px;
    color: black;
    transform: translateY(-70px);
}

.divInput{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 20px;
    
}

.divForm input{
    background-color: #F6F5FA;
    width: 50%;
    height: 10px;
    border: none;
    padding: 15px;
    margin: 5px;
}

::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #8f8f8f;
    font-style: normal;
}

.btnRecover{
    width: 240px;
    height: 40px;
    background-color:#20232A;
}

.btnRecover:hover{
    cursor: pointer;
}

.btnRecover p{
    margin-top: 4px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 2px;
    
    
}

.newPasswordContainer{
max-width: 1500px;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;

}


/*DARK MODE*/

.dmdivForm h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    transform: translateY(-70px);
}

.dmdivInput{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 20px;
    
}

.dmdivForm input{
    background-color: #F6F5FA;
    width: 50%;
    height: 10px;
    border: none;
    padding: 15px;
    margin: 5px;
}

.dmdivInput span{
    margin: 10px;
    color: white;
}

::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #8f8f8f;
    font-style: normal;
}

.dmbtnRecover{
    width: 240px;
    height: 40px;
    background-color:#D7F136;
}

.dmbtnRecover:hover{
    cursor: pointer;
}

.dmbtnRecover p{
    margin-top: 4px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 2px;

}

.dmnewPasswordContainer{
    background-color: #20232A;
max-width: 1500px;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;

}

.dmimgBunny img {
    width: 45%;
    height: 45%;
    transform: translateY(-59px);
}

.dmdivForm{
    background-color: #2B3036;
    padding: 5%;
    width: 650px;
    height: 350px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

@media (max-width: 450px){
    .imgBunny img{
        width: 60%;
        height: 60%;
        transform: translateY(10px);
    }
    
    .divForm{
        background-color: white;
        padding: 5%;
        width: 300px;
        height: 350px;
        
    }
    
    .divInput span{
        margin: 10px;
    }
    
    .divForm h3{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 20px;
        color: black;
        transform: translateY(10px);
    }
    
    .divInput{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -100px;
        transform: translateY(-20px);
        
    }
    
    .divForm input{
        background-color: #F6F5FA;
        width: 50%;
        height: 1px;
        border: none;
        padding: 10px;
        margin: 5px;
        margin-top: 150px;
    }
    
    ::placeholder{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 5px;
        color: #8f8f8f;
        font-style: normal;
    }
    
    .btnRecover{
        width: 240px;
        height: 20px;
        background-color:#20232A;
        margin-top: 145px;
       
    }
    
    .btnRecover:hover{
        cursor: pointer;
    }
    
    .btnRecover p{
        margin-top: 4px;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 5px;
        letter-spacing: 2px;
    }

    .dmimgBunny img{
        width: 60%;
        height: 60%;
        transform: translateY(10px);
    }
    
    .dmdivForm{
        background-color: #2B3036;
        padding: 5%;
        width: 300px;
        height: 350px;
        
    }
    
    .dmdivInput span{
        margin: 10px;
    }
    
    .dmdivForm h3{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 20px;
        color: white;
        transform: translateY(10px);
    }
    
    .dmdivInput{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -100px;
        transform: translateY(-20px);
        
    }
    
    .dmdivForm input{
        background-color: #1b1d23;
        width: 50%;
        height: 1px;
        border: none;
        padding: 10px;
        margin: 5px;
        margin-top: 150px;
    }
    
    
    
    .dmbtnRecover{
        width: 240px;
        height: 20px;
        background-color:#d7f136;
        margin-top: 145px;
        
       
    }
    
    .dmbtnRecover:hover{
        cursor: pointer;
    }
    
    .dmbtnRecover p{
        margin-top: 4px;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 5px;
        letter-spacing: 2px;
    }
    
    

    
    
}