.imgExitosa{
  width: 30%;
  height: 30%;
}

.imgFallida{
  width: 30%;
  height: 30%;
}

.ValidFallida{
  color: #20232a;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 42px;
    align-items: center;
    margin-left: 30%;
}

.ValidExitosa{
  color: #20232a;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 42px;
    align-items: center;
    margin-left: 30%;
}