.home{
    background-color: #F9F9F9;
}

.dmhome{
    background-color: #20232a;
}

.heroSection{
    padding-top: 30px;
    background-color: #D7F136;
}

.hero{
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.heroImg{
    height: 360px;
    width: 500px;
    background: peachpuff;    
    background-image: url(../../images/hero.png);
    background-repeat: no-repeat;
}

.hero h1{
    background-color: palevioletred;
}

/* Inicio de los estilos para la sección del Banner */

.banners{
    background-color: #F9F9F9;

}

.dmbanners{
    background-color: #20232a;
}

.bannerOne{
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bannerOne div {
    width: 360px;
    height: 200px;
    margin: 20px;
    transition: 0.5s;
}

.bannerOne div:hover{
    transform: translateY(-5px);
}

.a{
    color: aliceblue;
    background-image: url(../../images/bmouse.png);
}

.b{
    color: aliceblue;
    background-image: url(../../images/bsilla.png);
}

.c{
    color: aliceblue;
    background-image: url(../../images/bimpresora.png);
}

.bannerTwo{
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bannerTwo div {
    width: 360px;
    height: 200px;
    margin: 20px;
    transition: 0.5s;
}

.bannerTwo div:hover{
    transform: translateY(-5px);
}

.sub{
    max-width: 1500px;
    height: 70px;
    margin: auto;
    margin-bottom: 15px ;
}

.subTitles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
}

.subTitles h5{
    margin-left: 30px;
    display: flex;
}

.subTitles span{
    width: 80px;
    margin-left: 30px;
    background-color: #D7F136;
    height: 10px;
}

.dmsubTitles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
}

.dmsubTitles h5{
    color: white;
    margin-left: 30px;
    display: flex;
}

.dmsubTitles span{
    width: 80px;
    margin-left: 30px;
    background-color: #D7F136;
    height: 10px;
}


.d{
    color: aliceblue;
    background-image: url(../../images/bauriculares.png);
}

.e{
    color: aliceblue;
    background-image: url(../../images/bparlantes.png);
}

.f{
    color: aliceblue;
    background-image: url(../../images/bteclado.png);
}

.razer{
    background-image: url(../../images/razer.png);
}

.hyperx{
    background-image: url(../../images/hyperx.png);
}

.logitech{
    background-image: url(../../images/logitech.png);
}

.redragon{
    background-image: url(../../images/redragon.png);
}

.coolermaster{
    background-image: url(../../images/coolermaster.png);
}

.nintendo{
    background-image: url(../../images/nintendo.png);
}
        
    
/* Fin de los estilos para la sección del Banner */