.results {
  padding-top: 10px;
  max-width: 1400px;
  margin: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ResultadosPara{
  font-size: 15px;
 transform: translateX(40px);
 margin-top: 40px;
 
 max-width: 15%;
}
