
.results {
  padding-top: 10px;
  max-width: 1400px;
  margin: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.loading img {
  width: 269px;
  height: 258px;
}

.dmresults{
  padding-top: 10px;
  max-width: 1400px;
  margin: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #20232A;
}

.dmresultsContainer{
  background-color: #20232A;
}

.dmresultsContainer h4{
  color: white;
}
