.card{
    width: 1000px;
    background-color: white;
    font-family: 'Poppins';
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.deleteX{
    display: flex;
    justify-content: flex-end;
}

.icon{
    padding-top: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: none;
}

.icon:hover{
    cursor: pointer;
}

.cardInfo{
    display: flex;
}

.pImg{
    padding-left: 15px;
    width: 90px;
    height: auto;
}

.pInfo{
    display: flex;
    margin: auto;
}

.pName{
    display: flex;
    width: 520px;
    flex-wrap: wrap;
}

.pBrand{
    width: 130px;
    font-weight: 500;
}

.pStock{
    width: 120px;
}

.pStock button{
    background: none;
    border: none;
}

.pStock button:hover{
    cursor: pointer;
}

.pPrice{
    width: 100px;
}

@media only screen and (max-width: 800px) {
    .card{
        width: 420px;
        background-color: white;
        font-family: 'Poppins';
        margin-bottom: 10px;
        padding-bottom: 15px;
    }

    .pInfo{
        display: flex;
        flex-direction: column;
    }

    .pName{
        display: flex;
        width: 250px;
    }

    .pBrand{
        padding-top: 8px;
        width: 250px;
    }
    
    .pStock{
        padding-top: 15px;
        width: 250px;
    }

    .pPrice{
        padding-top: 15px;
        width: 250px;
    }
}


