

.cardContainerH{
    width: 915px;
    height: 120px;
    background-color: #fefefe;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 3px #2c3035;
}

.imgandtitle{
    display: flex;
    align-items: center;
    width: 30%;
}

.imgCard{
    width: 60px;
    height: 60px;
}

.imgandtitle h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
}
.secondhalf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.cardCant, .cardDispon, .priceH , .deleteicon{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    width: 17%;
    height: 100%;
    justify-content: center;
}

.icon{
    margin: 7px;
}
.countandimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cardCantmobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.titleandprice{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.titlemobile,.priceH{
    text-align: justify;
    height: 50%;
    
}
.btn{
    margin: 10px;
    font-size: 10px;
}
@media(min-width :500px){
    .countandimg,.titleandprice,.deletebtn{
        display: none;
    }
}
@media (max-width: 500px){
    .cardContainerH{
        width: 88%;
        
    }
  .secondhalf,.imgandtitle{
    display: none;
  }
  }
