.cartContainer {
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 60px;
}

.processPayment {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 360px;
  height: 45px;
  background-color: #20232a;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.processPayment:hover {
  cursor: pointer;
}

.none {
  display: none;
}

.heroCart {
  height: 338px;
  width: 450px;
  background-image: url(../../images/cart.png);
}

.noProducts {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}

/* DARK MODE */

.dmCartContainer {
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #20232a;
}

.dmprocessPayment {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 360px;
  height: 45px;
  background-color: #d7f136;
  color: black;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: solid 1px #000000;
}

.dmprocessPayment:hover {
  cursor: pointer;
}

.dmnone {
  display: none;
}

.dmheroCart {
  height: 338px;
  width: 450px;
  background-image: url(../../images/cart-dm.png);
}

.dmnoProducts {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: white;
}

.img {
  width: 60%;
  height: 60%;
}
