/* .cartas {
    display:grid;
    grid-template-columns: repeat(6, 6fr);
    align-content: center;
    align-items:center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
} */
.categoryPage{
    margin-top: 40px;
    margin-bottom: 50px;
}

.results{
    padding-top: 10px;
    max-width: 1400px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.selectors select{
    height: 35px;
    width: 206px;
    border-radius: 0;
    border: none;
    text-indent: 5px;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.356);
}


.selectors select:focus{
    outline: none;
}