.landing{
    background-image: url('../../Photos/imagenfondo3.png');
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner{
    max-width: 45%;
    transform: translateY(50%);
}

.banner:hover{
    transform: translateY(50%) scale(1.1);
    transition: 0.5s;
    filter: brightness(1.2) saturate(1.2) ; 
}

a{
    text-decoration: none;
    color: #20232a;
}

a:hover{
    text-decoration: none;
    color: #d7f136;
}

.typing-animation{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: #d7f136;
    background-color: #20232adc;
    font-weight: 600;
    margin-top: 55px;
    margin: 20px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    transform: translateY(105%) translateX(6%);

}

@keyframes typing {
    from { width: 0}
    to { width: 200vh }
  }

  .typing-animation {
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing 3s steps(280, end);
    animation-iteration-count: alternate;
    animation-duration: 8s;
    animation-fill-mode: forwards;

  }

@media (max-width: 1366px){
    .divTitulo{
        align-items: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        width: 100%;
        font-size: 15px;
    }
 }
 
 @media (max-width: 900px){
    .divTitulo{
        font-size: 12px;
    }
 }
 
 @media (max-width: 500px){
     .landing h1{
        width: 200px;
        margin-left: 15%;

     }
 }
@media only screen and (max-width: 800px) {

    .banner{
        max-width: 80%;
        margin-top: 100px;
       transform: translateY(175px);
    }


      .typing-animation {
        display: none;
      }

}