/* *{
    outline: solid red 1px;
} */

.Landing{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    transition: 5s;
    background:  url("../../images/background4.jpg") no-repeat;
    /* background-size: cover;
	
	background-position: center; */
    animation-name: animate;
    animation-direction:alternate-reverse;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-play-state: runing;
    animation-timing-function: ease-in-out;
   
}
@keyframes animate{
0%{
    background:  url("../../images/background4.jpg") no-repeat;
    /* background-size: cover;
	background-attachment: fixed;
	background-position: center; */
}
33%{
    background:  url("../../images/background7.jpg") no-repeat;
    /* background-size: cover;
	background-attachment: fixed;
	background-position: center; */
}
66%{
    background:  url("../../images/background6.jpg") no-repeat;
    /* background-size: cover;
	background-attachment: fixed;
	background-position: center; */
}
}

.topspace{
    height: 20%;
}
.TextandButton{
    margin-left: 10%;
    display: flex;
    height: 50%;
    width: 25%;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    color: white;

}
.Maintext{
    font-size: 60px;
    transform: translateX(-100px);
    margin-top: 165px;
}

.Maintext:hover{
    color: #20232A;
    border-color: #D7F136;
    background-color: #D7F136;
    transition: all 250ms linear; 
}


.Secondtext{
    font-size: 22px;
    display: flex;
    background-color: transparent;
    width: 100%;
    transform: translateX(-108px);
    
}

.Secondtext:hover{
    color: #20232A;
    border-color: #D7F136;
    background-color: #D7F136;
    transition: all 250ms linear; 
}

.btncointainer{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 35px;
    transform: translateX(-20px);
}

.joinbtn{
    
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:white;
padding-top:10px;
padding-bottom:10px;
padding-left:45px;
padding-right:45px;
background-color: transparent;
border-width: 3px;
border-style: solid;
border-color: white;
transition: all 400ms linear; 
cursor: pointer;
}
.joinbtn:hover{
    color: #20232A;
    border-color: #D7F136;
    background-color: #D7F136;
    transition: all 250ms linear; 
}

html{
    scroll-behavior: smooth;
}

a{
    color: white;
}
.ourteam{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 43px;
    color: white;
}

.dropdown{
    width: 100%;
    height: 50px;
    animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

.about{
    width: 100%;
    height: 100vh;
    background-color: #20232A;
}

.uptolanding{
    height: 5px;
    animation: bounce 2s ease-in-out infinite;
}

a:link{
    text-decoration: none }

a:visited {
    text-decoration: none }




/* DARK MODE */

.landingbackgroundAboutUs{
    background-color: #20232A;
    
    
}

.landingtituloEquipo{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 26px;
    line-height: 45px;
    color: white;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: #20232A;
    
}
.landingtituloEquipo:hover{
    transform: translateY(-6px);
}
.landingcardsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1500px;
    
}

.landingcard{
    width: 300px;
    height: 430px;
    background-color: transparent;
    float: left;
    margin: 5px ;
}

.landingimg{
    width: 249px;
    height: 260px;
}

.landingdivImg{
    background-color: #2B3036;
    border-radius: 50%;
    width: 83%;
    height: 60%;
    margin-left: 25px;
    transition: 0.5s;
    overflow: hidden;
}
.landingdivImg:hover{
    transform: translateY(-6px);
}

.landingcard h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    color: #ababab;
    margin-top: 10px;
}

.landingcard h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    font-style: normal;
    color: white;
}

.landinggitHub{
    width: 30px;
    height: 30px;
    color: white;
}

.landinglinkedin{
    width: 30px;
    height: 30px;
    color: white;
}

.landinglinkedin:hover{
    color: #0077B5;
}

.landinggitHub:hover{
    color:rgb(101, 101, 101);
}