.landing{
    background-image: url('../../Photos/backgroundLanding2.jpg');
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.landing h1{
    font-family: 'Poppins', sans-serif;
    color: #d7f136;
    align-items: center;
    margin-top: 230px;
    background-color: #20232a;
    border-radius: 5px;
    width: 25%;
    margin-left: 40%;
}

.landing h1:hover{
    color: #20232a;
    background-color: #d7f136;
}

.divBtn{
    display: flex;
    flex-direction: row;
    margin-top: -100px;
}

.btnLogin{
    margin-right: -250px;
    font-family: 'Poppins', sans-serif;
    color: #20232a;
    align-items: center;
    margin-top: 230px;
    background-color: #d7f136;
    border-radius: 5px;
    width: 10%;
    margin-left: 500px;
    font-size: 15px;
    height: 30px;
}

.btnLogin h2{
    margin-top: -3px;
}

.btnLogin:hover{
    color: #d7f136;
    background-color: #20232a;
}

a{
    text-decoration: none;
    color: #20232a;
}

a:hover{
    text-decoration: none;
    color: #d7f136;
}

.btnInv{
    margin-left: 50px;
    margin-right: -260px;
    font-family: 'Poppins', sans-serif;
    color: #20232a;
    align-items: center;
    margin-top: 230px;
    background-color: #d7f136;
    border-radius: 5px;
    width: 10%;
    margin-left: 520px;
    font-size: 15px;
    height: 30px;
}

.btnInv h2{
    margin-top: -3px;
}

.btnInv:hover{
    color: #d7f136;
    background-color: #20232a;
}

@media (max-width: 1366px){
    .divBtn{
        align-items: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        margin-left: -330px;
    }
    
    .divTitulo{
        align-items: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        width: 100%;
        font-size: 15px;
    }
 }
 
 @media (max-width: 900px){
    .divTitulo{
        font-size: 12px;
    }
    .btnInv{
        width: 120px;
        
    }
 }
 
 @media (max-width: 500px){
     .landing h1{
        width: 200px;
        margin-left: 15%;

     }
     .divBtn{
        margin-right: 400px;
        display: flex;
        flex-direction: column;
        margin-top: -150px;
     }
     .btnLogin{
        width: 100px;
        margin-left: 125%;
     }
     .btnInv{
        width: 130px;
        margin-left: 120%;
        margin-top: 80px;
     }
     
     
 }