.payPage{
    background-color: transparent;
}

.payment{
    max-width: 1500px;
    padding-top: 40px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Poppins';
}

.payInfo{
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.payInfo h2{
    display: flex;
    margin-left: 15px;
}

.allInfo{
    display: flex;
}

.required{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 350px;

}

.required label{
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
    color: #CCCCCC;
    margin-left: 15px;
}

.required input{
    width: 305px;
    height: 40px;
    background: #F6F5FA;
    border-radius: 4px;
    border: none;
    margin-left: 15px;
    margin-top: 10px;
    text-indent: 8px;
}

.optional{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.optional label{
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
    color: #CCCCCC;
    margin-left: 15px;
}

.optional input{
    width: 305px;
    height: 40px;
    background: #F6F5FA;
    border-radius: 4px;
    border: none;
    margin-left: 15px;
    margin-top: 10px;
    text-indent: 8px;
}

.buttons{
    display: flex;
    margin-top: 35px;
    margin-left: 15px;
}

.b1{
    width: 150px;
    height: 40px;
    background: white;
    border-color: #20232A;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 10px;
}

.b2{
    width: 150px;
    height: 40px;
    background: #20232A;
    border: none;
    color: white;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
    .allInfo{
        display: flex;
        flex-direction: column;
    }
    .dmallInfo{
        display: flex;
        flex-direction: column;
    }
}

/* Dark Mode */
.dmpayPage{
    background-color: #20232A;
}

.dmpayment{
    max-width: 1500px;
    padding-top: 40px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Poppins';
}

.dmpayInfo{
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #2B3036;
    display: flex;
    flex-direction: column;
}

.dmpayInfo h2{
    display: flex;
    margin-left: 15px;
    color: white;
}

.dmallInfo{
    display: flex;
}

.dmrequired{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 350px;

}

.dmrequired label{
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
    color: #CCCCCC;
    margin-left: 15px;
}

.dmrequired input{
    width: 305px;
    height: 40px;
    background: #22262A;
    border-radius: 4px;
    border: none;
    margin-left: 15px;
    margin-top: 10px;
    text-indent: 8px;
    color: white;
}

.dmoptional{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.dmoptional label{
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
    color: #CCCCCC;
    margin-left: 15px;
}

.dmoptional input{
    width: 305px;
    height: 40px;
    background: #22262A;
    border-radius: 4px;
    border: none;
    margin-left: 15px;
    margin-top: 10px;
    text-indent: 8px;
    color: white;
}

.dmbuttons{
    display: flex;
    margin-top: 35px;
    margin-left: 15px;
}

.dmb1{
    width: 150px;
    height: 40px;
    background: transparent;
    color: white;
    border-color: white;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 10px;
}

.dmb2{
    width: 150px;
    height: 40px;
    background: #D7F136;
    border: none;
    color: #20232A;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}