.navBar{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.one{
    background-color: white;
}

.one div{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    height: 75px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.one div h1{
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 16px;
}

.navDetail span{
    margin: 10px;
    width: 50px;
}

.two{
    background-color: white;
}

.two div {
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}

.two div p{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.three{
    background-color: black;
}

.three div {
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.three div p{
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    transition: 0.5s;
}

.three div p:hover{
    color: #D7F136;
    cursor: pointer;
}

