.navBar{
  display: flex;
  flex-direction: column; 
  font-family: 'Poppins', sans-serif;
  background-color: #1B1D23;
}

.navResponsive{
  display: none;
}

.dmnavResponsive{
  display: none;
}

.one{
  background-color: white;
}

.one div{
  max-width: 1500px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  height: 75px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.one div h1 a{
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 16px;
  color: black;
}

.one div h1 a:hover{
  cursor: default;
}

.logo{
  color: black;
}

.navDetail span{
  margin: 10px;
  width: 50px;
}

.two{
    background-color: white;
    cursor: pointer;
}

.two div {
  max-width: 1500px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.two div p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.two div p a{
  color: black;
}

.two .categorias{
  cursor: pointer;
}

.three{
  background-color: black;
}

.three div {
  max-width: 1500px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.three div p{
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  transition: 0.5s;
}

.three div p:hover{
  color: #D7F136;
  cursor: pointer;
}

ul{
  list-style: none;
  
}

a {
  text-decoration: none;
}


.two div a:hover{
  color: #7e7e7e;
  cursor: pointer;
}

.two div p:hover{
  color: #7e7e7e;
  cursor: pointer;
}

h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: #20232a;
  line-height: 1.2rem;
  margin-top: 10px;
  margin-bottom: -10px;
}

.iconsbtn{
  font-size: 14px;
  font-weight: 400;
  color: #20232a;
}

.btnMoon{
  border: none;
  background-color: transparent;
  color: #20232a;
  cursor: pointer;
  padding: 12px;
}

.dropdownItem{
  display: flex;
  margin: 10px auto;
}

.dropdownItem img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
  color: #20232a;
  font-weight: 500;
}

.profilePicture {
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px black;
}


  @media handheld, only screen and (max-width: 767px) {
    .three {
      display:none;
       
    }
  }
  
  @media only screen and (max-width: 1023px) {
    .three {
      display:none;
    }
  }

  @media only screen and (max-width: 800px){
    .navResponsive{
      display: flex;
      background-color: white;
      margin: auto;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .navResponsive h4{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 16px;
      color: #20232A;
    }

    
  
    /* DARK MODE  */
    .dmnavResponsive{
      display: flex;
      background-color: #1B1D23;
      margin: auto;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .dmnavResponsive h4{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 16px;
      color: white;
    }
  
    .one {
      display:none;
    }
    .two {
      display:none;
    }
    .three{
      display: none;
    } 
    .DMone {
      display:none;
    }
    .DMtwo {
      display:none;
    }
    .DMthree {
      display:none;
    }
  }

  /* DARK MODE COMPLETO */

  .DMnavResponsive{
    display: none;
  }

  .DMone div{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    height: 75px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1b1d23;
  }

  .DMone div h1 a{
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 16px;
    color: black;
  }

  .DMone div h1 a{
    color: white;
  }

  .DMtwo{
    cursor: pointer;
  }

  .DMtwo div {
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1B1D23;
  }

  .DMtwo div p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
  }

  .DMtwo div p a{
    color: white;
  }
  
  .DMtwo .categorias{
    cursor: pointer;
  }

  .DMthree{
    background-color: #fefefe;
  }

  
  .DMthree div {
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .DMthree div p{
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    transition: 0.5s;
  }

  .DMthree div p:hover{
    color: #D7F136;
    cursor: pointer;
  }

  .DMtwo div p{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .DMtwo div a:hover{
    color: #D7F136;
    cursor: pointer;
  }

  .DMtwo div p:hover{
    color: #D7F136;
    cursor: pointer;
  }

  .DMiconsbtn{
    font-size: 14px;
    font-weight: 400;
    color: white;
  }

  .DMbtnMoon{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 12px;
  }

  .DMone div h1 a:hover{
    cursor: default;
  }