# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules
/.pnp
.pnp.js
<<<<<<<< HEAD:api/.gitignore
========
# testing
>>>>>>>> 3824a291f9f5a256b54166bc213f0c00749270f8:.gitignore
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
